.repos{
    display: flex;
    flex-direction: column;
    height: 25%;
    width: 100%;
    border-radius: 5px;
    padding: 1rem;
}

.topArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topArea .info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.topArea .info h5{
    margin-left: 0.2rem ;
    font-size: x-small;
}

.topArea span{
    margin-right: 0.5rem;
}

a{
    color: black;
}